$bg-color: white;
$btn-color: #007BFF;
$icon-bg-color: #F8F9FA;
$icon-color: #007BFF;
$icon-text-color: #8C8F91;
$about-text-color: #8C8F91;
$coment-text-color: #8C8F91;
$coment-bg-color: #F8F9FA;
$footer-bg-color: #F8F9FA;
$footer-text-color: #8C8F91;
$footer-a-color: #007BFF;
$marker-color: black;

